extends layout

block content
	h1= title
	form(action='/login', method='post')
		div
			label Email:
			input.form-control(type='text' id='email' placeholder='email' name='email')
		div
			label Password:
			input.form-control(type='password' id='password' placeholder='password' name='password')
		div
			input(type='submit', value='Log In')